body {
    font-family: Arial,sans-serif;
    color: #333;
}
table {
    font-family: Consolas, Monaco, monospace;
    font-size: 13px;
    border: 1px solid #ddd;
}
table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
table td {
    text-align: center;
    border: 1px solid #ddd;
}
table td:nth-child(2) {
    text-align: center;
    font-weight: bold;
}
table .spy {
    background-color: #00ff00;
    color: red;
    font-weight: bold;
}
.code {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 3px;
    font-family: Consolas,Monaco,monospace;
}
