* {
    margin: 0;
    padding: 0;
}

/* common styles */

body {
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial;
}

a {
    color: #15c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* IE Hack */

a img {
    border: none;
}

.container {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.clearfix {
    display: block;
    clear: both;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.button {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #fff;
}

.button.submit {
    border: 1px solid #34740e;
    border-radius: 3px;
    background-color: #4ba614;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
    background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
    background-image: linear-gradient(to bottom, #4ba614, #008c00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.button.submit:hover {
    border-color: #224b09;
    background-color: #36780f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
    background-image: -webkit-linear-gradient(top, #36780f, #005900);
    background-image: linear-gradient(to bottom, #36780f, #005900);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

.button.default {
    border: 1px solid #25729a;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button.default:hover {
    border-color: #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

/* no javascript notice */

.javascript-notice-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1c40f;
}

.javascript-notice {
    position: fixed;
    font-size: 50px;
    font-weight: 900;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    text-shadow: -1px -1px 1px #fff,
                                1px 1px 1px #000;
    color: #9c8468;
    opacity: 0.3;
}

.javascript-notice .app-name {
    display: block;
    font-size: 70px;
    margin: 5px 0;
    color: #555;
}

/* header styles */

.header {
    background-color: #2c3e50;
    height: 60px;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #111;
}

.header .app-name {
    display: inline-block;
    background: url(logo.png) no-repeat center left;
    background-size: 50px;
    font-size: 50px;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 60px;
    line-height: 50px;
    text-shadow: 0px 1px 1px #4d4d4d;
    text-decoration: none;
    color: #111;
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header .app-name .prelude {
    float: left;
    display: block;
    margin-top: 5px;
    font-size: 18px;
    line-height: 20px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header .app-name:hover {
    opacity: 1.0;
    color: #fff;
}

.header .app-name:hover .prelude {
    opacity: 1.0;
    width: 70px;
}

.social-links {
    position: absolute;
    top: 10px;
    right: 0;
}

.social-links a {
    display: inline-block;
    margin-right: -10px;
    width: 50px;
    height: 50px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.social-links a:hover {
    background-size: 50px;
}

.social-links a.blogger {
    background-image: url(social-media/blogger.png);
}

.social-links a.facebook {
    background-image: url(social-media/facebook.png);
}

.social-links a.google-plus {
    background-image: url(social-media/google-plus.png);
}

.social-links a.twitter {
    background-image: url(social-media/twitter.png);
}

.social-links a.youtube {
    background-image: url(social-media/youtube.png);
}

.social-links a.github {
    background-image: url(social-media/github.png);
}

/* footer styles */

.footer {
    padding: 30px 0 50px 0;
    font-size: 12px;
    background-color: #ccc;
    color: #222;
    text-shadow: 1px 1px 1px #fff;
}

.footer .block {
    float: left;
    width: 400px;
    margin-right: 50px;
}

.footer .block h3 {
    margin-bottom: 10px;
}

.footer .block img {
    float: left;
    margin: 0 10px 0 0;
    max-height: 70px;
    border: 5px solid #777;
}

.footer .block p {
    margin-bottom: 10px;
}

.attributions {
    margin-top: 30px;
    text-align: center;
}

.attributions h3 {
    margin-bottom: 10px;
}

.attributions img {
    height: 50px;
    margin-right: 20px;
}

.copyright {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #95a5a6;
    text-align: center;
}

/* content styles */

.content {
    padding: 20px 0;
    background-color: #3498db;
    border-bottom: 1px solid #2980b9;
}

.content:after {
    display: block;
    content: '';
    clear: both;
}

.welcome-header {
    text-align: center;
    margin-bottom: 50px;
}

.welcome-header h1 {
    font-size: 50px;
    text-shadow: 0px 1px 0px #999,
                                0px 2px 0px #888,
                                0px 3px 0px #777,
                                0px 4px 0px #666,
                                0px 5px 0px #555,
                                0px 6px 0px #444,
                                0px 7px 0px #333,
                                0px 8px 7px #001135;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.welcome-header p {
    margin-top: 30px;
    text-shadow: 1px 1px 1px #333;
    padding: 0 200px;
    font: normal 18px 'Comic Sans MS', 'Segoe Print', Verdana, Tahoma, serif;
    color: #ddd;
}

.welcome-header a {
    color: #fff;
}

.game-menu {
    float: left;
    width: 600px;
    color: #ddd;
    text-shadow: 1px 1px 1px #333;
}

.game-menu .instructions {
    font-size: 17px;
    margin-bottom: 20px;
}

.game-menu input {
    border: none;
    outline: none;
    background-color: #3498db;
    border-bottom: 2px dotted #fff;
    color: #0000ff;
    margin: 0 10px;
}

.game-menu .block h4 {
    padding: 5px 10px;
    background-color: #2980b9;
}

.game-menu .block p {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    height: 80px;
}

.game-menu .block .button {
    margin-top: 10px;
    margin-left: 20px;
    display: block;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
}

.game-menu .block {
    float: left;
    width: 280px;
    margin-right: 10px;
}

#player-name-input {
    font-size: 20px;
    font-weight: bold;
    width: 430px;
}

#game-id-input {
    width: 100px;
}

.gg-actual-setup {
    float: right;
    width: 280px;
    border: 5px solid #ddd;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gg-actual-setup img {
    max-width: 270px;
    margin: 20px 0;
}

.gg-actual-setup p {
    background-color: #2980b9;
    color: #eee;
    font-size: 12px;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #333;
}

/* content game board styles */

.game-area {
    float: left;
    width: 680px;
}

.fallen-pieces {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 auto;
    padding: 0 5px;
    width: 670px;
    min-height: 55px;
    border: 2px ridge #146499;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2980b9;
}

.fallen-pieces .game-piece {
    margin: 5px 5px 0 0;
}

.game-board-container {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

/* game board styles */

#game-board {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px outset #146499;
    border-spacing: 1px;
    background-color: #2980b9;
}

#game-board td {
    border: 1px outset #146499;
    width: 70px;
    height: 50px;
}

#game-board td.targetable {
    background-color: rgba(46, 204, 113, 0.4);
    cursor: pointer;
}

#game-board td.targeted {
    background-color: rgba(46, 204, 113, 0.4);
}

.turn-indicator {
    height: 5px;
    background-color: #e74c3c;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 5px;
    width: 664px;
}

.turn-indicator.opponent {
    margin-top: 5px;
    margin-bottom: -5px;
}

@-webkit-keyframes throb {
    0% {
        background-color: #2ecc71;
    }

    50% {
        background-color: #27ae60;
    }

    100% {
        background-color: #00ff00;
    }
}

@keyframes throb {
    0% {
        background-color: #2ecc71;
    }

    50% {
        background-color: #27ae60;
    }

    100% {
        background-color: #00ff00;
    }
}

.turn-indicator.active {
    -webkit-animation: throb 1s linear infinite;
    animation: throb 1s linear infinite;
    background-color: green;
}

/* game piece styles */

.game-piece {
    height: 42px;
    width: 62px;
    margin: 0 auto;
    background-color: #ccc;
    border: 2px solid #555;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 22px center;
    background-size: 32px 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
    cursor: pointer;
}

.game-piece.opponent {
    background-color: #111;
    border-color: #000;
    cursor: default;
    color: #777;
}

#game-board td.targeted .game-piece.opponent {
    background-color: #333;
    border: 2px dashed #ddd;
    cursor: pointer;
}

.game-piece .code {
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font: normal 11px Arial, sans-serif;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

.game-piece.selected {
    background-color: #9b59b6;
    border-color: #8e44ad;
}

#game-board td.targetable .game-piece.opponent {
    background-color: #bbb;
    border: 2px dashed #c0392b;
}

.game-piece-1LT {
    background-image: url('game-pieces/1LT.png');
}

.game-piece-2LT {
    background-image: url('game-pieces/2LT.png');
}

.game-piece-BRG {
    background-image: url('game-pieces/BRG.png');
}

.game-piece-COL {
    background-image: url('game-pieces/COL.png');
}

.game-piece-CPT {
    background-image: url('game-pieces/CPT.png');
}

.game-piece-FLG {
    background-image: url('game-pieces/FLG.png');
}

.game-piece-GOA {
    background-image: url('game-pieces/GOA.png');
}

.game-piece-GEN {
    background-image: url('game-pieces/GEN.png');
}

.game-piece-LTC {
    background-image: url('game-pieces/LTC.png');
}

.game-piece-LTG {
    background-image: url('game-pieces/LTG.png');
}

.game-piece-MAJ {
    background-image: url('game-pieces/MAJ.png');
}

.game-piece-MAG {
    background-image: url('game-pieces/MAG.png');
}

.game-piece-MAJ {
    background-image: url('game-pieces/MAJ.png');
}

.game-piece-PVT {
    background-image: url('game-pieces/PVT.png');
}

.game-piece-SGT {
    background-image: url('game-pieces/SGT.png');
}

.game-piece-SPY {
    background-image: url('game-pieces/SPY.png');
}

/* main message styles */

.main-message {
    display: none;
    position: absolute;
    top: 0;
    left: 8px;
    width: 664px;
    height: 245px;
    line-height: 245px;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-message .message-content {
    display: inline-block;
    line-height: normal;
    font-family: 'Segoe Print', 'Comic Sans MS', Tahoma, Verdana, Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px;
}

.main-message .emphasize {
    font-weight: bold;
    font-size: 20px;
    color: #f1c40f;
}

.main-message .button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}

.emphasize {
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-user-select: text;
}

#game-board-overlay {
    display: none;
    position: absolute;
    position: absolute;
    top: 0;
    left: 8px;
    width: 664px;
    height: 100%;
    opacity: 0;
}

/* content sidebar styles */

.sidebar {
    float: right;
    height: 500px;
    width: 200px;
    color: #222;
    font-family: Arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-content {
    margin-bottom: 20px;
}

.sidebar-content h4 {
    background-color: #2980b9;
    color: #fff;
    margin-bottom: 3px;
    padding: 2px 5px;
    font-size: 15px;
}

#game-stats {
    font-size: 12px;
    table-layout: fixed;
    width: 100%;
    text-shadow: 1px 1px 1px #999;
}

#game-stats td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#game-stats td:first-child {
    font-size: 11px;
    width: 70px;
}

#game-stats td:nth-child(2) {
    font-weight: bold;
}

#chat-content {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: #1abc9c;
    border: 2px solid #16a085;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    list-style: none;
    padding: 1px 8px 10px 10px;
    overflow-y: auto;
}

#chat-content li {
    margin-top: 5px;
}

#chat-content .sender {
    margin-left: -8px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

#chat-input {
    outline: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    background-color: #2ecc71;
    border: 2px solid #27ae60;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
