* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Helvetica Neue', Helvetica, Tahoma, 'Lucida Grande', Arial, sans-serif;
}

.container > .header {
    box-sizing: border-box;
    padding-top: 50px;
    height: 600px;
    background: #474747 url(header-background.png);
    text-align: center;
}

.container > .content {
    width: 900px;
    margin: 0 auto;
}

.header h1 {
    font-size: 120px;
    font-weight: 900;
    margin: -20px 0;
    color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.header h2 {
    font-size: 30px;
    color: #555;
    text-shadow: 0 0 1px #000;
}

.header hr {
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    width: 80%;
    height: 1px;
    background-color: #567;
}